<h1>Eat Da Burger!</h1>

<main>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {{#each burgers}}
          {{#unless eaten}}
                <input type="text" name="burgerName" value="{{burger_name}}">
                <button type="submit" class="devourBtn" data-id="{{id}}" data-eaten="{{devoured}}">Devour!</button>
           {{/unless}}
        {{/each}}
        </div>
         

      <div class="col-md-6">
        {{#each burgers}}
          {{#if eaten}}
            <div class="burgerEaten">
              <div>
                {{#if eaten}}
                <input type="text" id="eatenName">
                {{/if}}
                {{this.burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>

<h2>Add A Burger</h2>

<div class="row">
  <div class="col-md-12">
    <form>
      <input type="text" id="name" name="burger_name" placeholder="Burger">
      <button type="submit" class="addBtn">Add Burger</button>
    </form>
  </div>
</div>