body {
  background-image: url(../images/wallpaper.jpg);
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.container {
  padding: 5px;
  margin: 5px;
  background: orange;
}

.form-group {
  margin-bottom: 5px;
}
